@media only screen and (max-width: 720px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
      }
    
      .mobile-nav {
        transform: translate(0%) !important;
      }
}
    