* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Montserrat';
  overflow-x: clip;
  overflow-y: auto;
}

/* HEADER */
.site-header {
  width: 100vw;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

/* NAVIGATION */
.navbar {
  display: grid;
  grid-template-columns: 3fr 3fr;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 80px;
  overflow: hidden;
}

.navbar img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  z-index: 3;
  list-style: none;
  display: grid;
  margin-right: 5vw;
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;
  background-color: #fff;
  justify-content: space-between;
  gap: 40px;
}

.navbar .site-title {
  justify-self: start;
  margin-left: 5vw;
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.nav-item a:hover {
  color: #3498db;
}

/* NAV MENU TOGGLE */
.menu-toggle {
  justify-self: end;
  margin-right: 40px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

.wrapper>* {
  flex: 1 100%;
}

section {
  width: 100vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* HOME PAGE */
section.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  overflow: hidden;
  align-items: center;
  animation: slideUpAnim 1s ease-in-out 0s 1 normal forwards;
}

.tree {
  display: flex;
  max-height: 70vh;
  min-height: 50vh;
  width: auto;
  order: 2;
}

.welcome {
  flex-basis: auto;
  display: flex;
  width: auto;
  padding-right: 5%;
  flex-direction: column;
  text-align: right;
  order: 1;
}

.hero-text {
  font-size: 4.2rem;
  font-weight: 300;
  letter-spacing: .4rem;
  text-align: match-parent;
}

.subtitle-text {
  font-size: 3.4rem;
  font-weight: 100;
  letter-spacing: normal;
  text-align: match-parent;
}

/* ABOUT */
section.about {
  display: grid;
  background-color: rgba(213, 248, 231);
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  padding: 2% 8%;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  animation: slideUpAnim 1s ease-in-out 0s 1 normal forwards;
}

section.about .card {
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1% 1% 8% 1%;
  width: 10vw;
  height: auto;
  margin: 0 auto;
}

section.about .frame {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center center;
}

section.about .info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: baseline;
}

section.about .info p {
  padding: 2%;
}

section.about.skills {
  background-color: rgba(255, 255, 255, .9);
  display: flex;
  height: auto;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}

section.about.skills>ul {
  width: 100vw;
  padding: 0% 2%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

section.about.skills>ul>li {
  display: flex;
  flex-grow: 1;
  list-style: none;
  flex-direction: column;
  background-color: #ffffffe6;
  border-color: rgba(213, 248, 231);
  border-width: 4px;
  padding: 2%;
  border-style: dashed;
}

section.about.skills h2 {
  padding: 1% 0%;
}

/* PROJECT PAGE */
section.project {
  margin-top: 80px;
  flex-direction: column;
  gap: 1%;
}

section.project ul {
  list-style: none;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 4%;
  grid-gap: .8rem;
}

section.project .post-content {
  display: grid;
  background-color: rgba(213, 248, 231);
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  padding: 4% 8%;
  grid-gap: 2rem;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  animation: slideUpAnim 1s ease-in-out 0s 1 normal forwards;
}

section.project .post-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 8%;
}

section.project .post-content img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
}

section.project p {
  text-align: center;
}

/** PROJECTS **/
section.myprojects {
  margin-top: 80px;
  flex-direction: column;
  animation: slideUpAnim 1s ease-in-out 0s 1 normal forwards;
}

/* GALLERY */
.gallery {
  display: flex;
  height: auto;
  flex-direction: column;
  padding: 1% 0%;
  column-gap: 5%;
  background-color: rgba(213, 248, 231);
  width: 100vw;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}

.gallery ul {
  list-style: none;
  width: 100vw;
  display: grid;
  justify-items: center;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, .75fr));
  grid-gap: 1.2rem;
}

.gallery ul li {
  background-color: #ffffffe6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  min-width: 300px;
  min-height: 200px;
  cursor: pointer;
  position: relative;
  padding: 1%;
  top: 0;
  transition: all .1s ease-in;
}

.gallery ul li .card-prev {
  background-color: rgb(218, 236, 229);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery ul li .card-title {
  color: #000;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.categoryTitle {
  text-align: center;
  align-items: top;
  padding: 2%
}

.gallery ul li p {
  line-height: 1.8;
  color: #000;
  font-size: smaller;
  padding: 1%;
  text-align: center;
}

.gallery ul a {
  text-decoration: none;
  color: #000;
}

.gallery ul a:visited {
  text-decoration: none;
  color: #000;
}

.gallery ul li:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

/* Font */
h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-weight: 300;
  font-size: 2em;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 800;
}

.title-group {
  text-align: center;
  z-index: 1;
}

.section-title {
  text-align: center;
  align-items: top;
}

/* Animations */
/* KEYFRAME ANIMATIONS */
@keyframes slideUpAnim {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* RESPONSIVE */
/* Small Screen */
@media only screen and (max-width: 1000px) {
  section.home {
    grid-template-columns: 1fr;
    row-gap: 10px;
    align-content: center;
    justify-items: center;
    animation: slideUpAnim 1s ease-in 0s 1 normal forwards;
    margin-top: 0px;
  }

  section.about {
    grid-template-columns: 1fr;
    row-gap: 10px;
    align-content: center;
    justify-content: center;
    animation: slideUpAnim 1s ease-in 0s 1 normal forwards;
    margin-top: 0px;
  }

  section.about .info {
    align-items: center;
  }

  section.about .card {
    padding: 1% 1% 4% 1%;
    width: 20vw;
  }

  .welcome {
    padding-right: 0%;
    padding-top: 5%;
  }

  .hero-text {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .2rem;
  }

  .subtitle-text {
    font-size: 2.4rem;
    font-weight: 200;
  }

  @keyframes slideUpAnim {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

/* MOBILE */
@media only screen and (max-width: 720px) {
  section.home {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    animation: slideUpAnim 1s ease-in 0s 1 normal forwards;
    margin-top: 0px;
  }

  section.about {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    align-content: center;
    justify-content: center;
    animation: slideUpAnim 1s ease-in 0s 1 normal forwards;
    margin-top: 0px;
  }

  section.about.skills ul {
    padding-inline-start: 20px;
  }

  section.about.skills li {
    font-size: 1em;
  }

  /* Font */
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  section.about .info {
    align-items: center;
  }

  section.about .card {
    padding: 1% 1% 4% 1%;
    width: 20vw;
  }


  section.myprojects {
    margin-top: 0%;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    gap: 15px;
    margin-right: 0px;
    top: 80px;
    background-color: #fff;
    width: 100vw;
    height: calc(100vh - 80px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
    z-index: 3;
  }

  .navbar .site-title {
    margin-left: 40px;
    font-size: 1rem;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .footer-col {
    float: none;
  }

  .welcome {
    padding: 0%;
  }

  .hero-text {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: .2rem;
  }

  .subtitle-text {
    font-size: 2.4rem;
    font-weight: 200;
  }

  @keyframes slideUpAnim {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}