#Stem1,
#Stem2,
#Stem3,
#Stem4,
#Stem5,
#Stem6,
#Stem7 {
    transform-box: fill-box;
    transform-origin: 0;
    transition: transform 200ms;
    will-change: transform;
    transition-delay: 200ms;
}

#Stem1:hover,
#Stem2:hover,
#Stem3:hover,
#Stem4:hover,
#Stem5:hover,
#Stem6:hover,
#Stem7:hover {
    transition: transform 100ms ease-in;
    transform: translateY(-10px) translateX(-5px);
    transition-delay: 0ms;
}

#Leaf9,
#Leaf8,
#Leaf7,
#Leaf6,
#Leaf5,
#Leaf4,
#Leaf3,
#Leaf2,
#Leaf1 {
    transform-box: fill-box;
    transform-origin: 0;
    will-change: transform;
    transition: transform 400ms ease-in;
    transition-delay: 300ms;
}

#Leaf9:hover,
#Leaf4:hover,
#Leaf3:hover,
#Leaf1:hover {
    transition: transform 100ms ease-out;
    transform: translateX(20px) translateY(10px) rotate(-20deg);
    transition-delay: 0ms;
}

#Leaf8:hover,
#Leaf7:hover,
#Leaf6:hover,
#Leaf5:hover,
#Leaf2:hover {
    transition: transform 100ms ease-out;
    transform: translateX(-15px) translateY(-60px) rotate(20deg);
    transition-delay: 0ms;
}