<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>
    {%- include head.html -%}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <section class="home">
            <div class = "moved">
                <h3>Thanks for stopping by!</h3>
                <h1 class="subtitle-text">My portfolio has moved to <a href="https://emmageorge.dev/">emmageorge.dev</a></h1>
            </p>
            </div>
          </section>
      </div>
    </main>
  </body>

</html>